BODY
 {background-image: url("environ/Tree.webp");
background-size: cover;}

h1, h4 {color: rgb(242, 191, 159); font-family: Impact, }

.high1 {background: rgb(3, 7, 95)}

#Navi {width: 300px;}

#bird {width: 600px;}

#pics {
    display: flex;
    flex-direction: row;}
#split {display: flex;
    flex-direction: row-reverse;}

#output {
    color: black;  
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;

}

#slug-button {
    height: 50px;
    display: flex; 
    flex-direction: column;
    background: pink ;
    position: relative;
    top: 300px;
    left: 250px;

}

#red {
    height: 100px;
    width: 100px;
    background:rgb(67, 73, 194);
    position: relative;
    left: 400px;
}

#image-container {
    position: relative;
    height: 50px;
    top: 5px;
    left: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


#erase-button {
    height: 50px;
    background: lightseagreen;
    position: relative;
    top: 400px;
    left: 200px;

}

#apple {
    height: 70px;
    position: relative;
    pointer-events: none;
}



